<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-BR" }}">

  {%- include head.html -%}

  <body class='menu-main'>

    <main class="page-content" aria-label="Content">
      <div class="menu">
        <ul class='ul-menu'>
          <li>Home</li>
          <li>About</li>
          <li>Skills</li>
          <li>Experience</li>
          <li>Complementary</li>
        </ul>
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    
    <!--{%- include footer.html -%}-->

  </body>

</html>
