<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-BR" }}">

  {%- include head.html -%}

  <body class='menu-main'>

    <main class="page-content" aria-label="Content">
      <div class="menu">
        <ul class='ul-menu'>
            <li class='menu-link'><a href='/'>Home</a></li>
            <li class='menu-link'><a href='/more/about.html'>About</a></li>
            <li class='menu-link'><a href='/more/skills.html'>Skills</a></li>
            <li class='menu-link'><a href='/more/experience.html'>Experience</a></li>
            <li class='menu-link'><a href='/more/complementary.html'>Complementary</a></li>
        </ul>
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>
