---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="main-div">
    <div class="text-div">
    <p class="baloon">Hello! I'm</p>
    <p class="name"> Rodrigues </p>
    <p class="profession">Software Developer && DevOps Enthusiastic</p>
    <p class="presentation">
      <!-- I'm software developer and DevOps culture <u>enthusiastic</u> <br>  -->
      <i class="fas fa-map-marker-alt color"></i> São Paulo/ SP<br>
      <i class="fas fa-mobile-alt color"></i> +55 (19) 99973-2221 || (13) 98107-6104 <br>
      <i class="far fa-envelope color"></i> fr.costa95@gmail.com
    </p>
    </div>
    <div class='img-div'>
        <img class="img-div-header">
      </div>
  </div>
 

  
</div>
